{% extends 'base.html' %}

{% block title %}Гайды{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center">Гайды по игре Space Engineers</h1>
    <ul class="list-unstyled mt-3">
        <li><a href="#general-tips">Общие советы</a></li>
        <li><a href="#find-ore">Как определить наличие руды</a></li>
        <li><a href="#use-atmospheric">Как использовать атмосферные двигатели</a></li>
        <li><a href="#make-ship-fly">Как заставить корабль летать</a></li>
        <li><a href="#connect-hydrogen">Как подключать водородные двигатели</a></li>
    </ul>

    <section id="general-tips" class="mt-5">
        <h2>Общие советы</h2>
        <p>В игре Space Engineers полезно сразу строить компоненты для выживания, такие как панели солнечной энергии, системы питания и системы добычи ресурсов.</p>
    </section>

    <section id="find-ore" class="mt-5">
        <h2>Как определить наличие руды</h2>
        <p>Используйте детекторы руды для сканирования ближайших ресурсов, которые можно найти на поверхности и под землей. Обновляйте и улучшайте детекторы, чтобы увеличить радиус их действия.</p>
    </section>

    <section id="use-atmospheric" class="mt-5">
        <h2>Как использовать атмосферные двигатели</h2>
        <p>Атмосферные двигатели эффективны на планетах с плотной атмосферой. Обеспечьте стабильное питание, чтобы избежать падения корабля из-за отключения двигателей.</p>
    </section>

    <section id="make-ship-fly" class="mt-5">
        <h2>Как заставить корабль летать</h2>
        <p>Для полета необходимы генераторы энергии, двигатели и гироскопы для стабилизации. Обязательно продумайте размещение компонентов для равномерного распределения массы.</p>
    </section>

    <section id="connect-hydrogen" class="mt-5">
        <h2>Как подключать водородные двигатели</h2>
        <p>Водородные двигатели требуют бак с водородом и систему его пополнения. Обеспечьте достаточное количество топлива для долговременных полетов в космосе.</p>
    </section>
</div>
{% endblock %}
